In [ ]:
print("Day-1")

Day-1

In [ ]:
print("himalay")

himalay

In [5]:
#list introduction

In [1]:
a=["hi","hello","world"]

In [2]:
print(a)

['hi', 'hello', 'world']

In [3]:
a = [10,20,30]
print(a)

[10, 20, 30]

In [4]:
print(type(a))

<class 'list'>

In [7]:
# list is hetrogeneous
b=[10,1,1.22,'NTT']
print(b)
print(type(b))

[10, 1, 1.22, 'NTT']
<class 'list'>

In [8]:
# length of  the list
print(len(b))

4

In [9]:
# List creation using constructor --- list()

l = list((10,20,3.33,'ntt'))
print(l)
print(type(l))

[10, 20, 3.33, 'ntt']
<class 'list'>

In [10]:
# access elements in list
print(l[0])

10

In [12]:
# for loop in list
for i in l:
  print(i)

10
20
3.33
ntt

In [14]:
print(l[3].upper())

NTT

In [15]:
print(l[-1])

ntt

In [16]:
print(l[-3])

20

In [20]:
# Range of index
a=[10,20,30,40,50,60,70]
b=a[1:]
c=a[1:6]
#negitive will be some what different
d=a[-3:-1]
print(a)
print(b)
print(c)
print(d)

[10, 20, 30, 40, 50, 60, 70]
[20, 30, 40, 50, 60, 70]
[20, 30, 40, 50, 60]
[50, 60]

In [22]:
# Index error means range of index is outbound
a=[10,20,30,40,50,60,70]
print(a[10])

IndexError: list index out of range

In [29]:
a=[10, 20, 30, 40, 50, 60, 70]
#[start:end:step]
print(a[0:7:1])
print(a[0:7:2])
print(a[-7::1])
print(a[-7:-1:1])

[10, 20, 30, 40, 50, 60, 70]
[10, 30, 50, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60]

In [33]:
a=[10,20,30,40,50]
a[1]=500
a[1:3]=['NTT','Hi']
print(a)
a[1:3]=['NTT','Hi',"hy",89,7.9,10]
print(a)

[10, 'NTT', 'Hi', 40, 50]
[10, 'NTT', 'Hi', 'hy', 89, 7.9, 10, 40, 50]

In [34]:
# append will add the elemen in last
a.append(1000)
print(a)

[10, 'NTT', 'Hi', 'hy', 89, 7.9, 10, 40, 50, 1000]

In [35]:
# insert will add the element in a particular index
# insert(index,element)
a.insert(1,55)
print(a)

[10, 55, 'NTT', 'Hi', 'hy', 89, 7.9, 10, 40, 50, 1000]

In [36]:
l=[99,999,99999]
l2=[40,60,100]
l2.extend(l)
print(l2)

[40, 60, 100, 99, 999, 99999]

In [37]:
# to remove elements
l2.remove(99)
print(l2)

[40, 60, 100, 999, 99999]

In [38]:
# to remove elements which are not there in list
l2.remove(100000)
print(l2)

ValueError: list.remove(x): x not in list

In [40]:
# pop function will help to remove the element at aparticular index
# pop(index)
l2.pop(0)
print(l2)

[100, 999, 99999]

In [42]:
# to delete a list entirly
del l2
print(l2)

NameError: name 'l2' is not defined

In [43]:
a=[1,2,3,4]
del a[0]
print(a)

[2, 3, 4]

In [44]:
#to clear all elements in list
a=[1,2,3,4]
a.clear()
print(a)

[]

In [45]:
# For loop for list
a=[1,2,3,4,5,6,7]
for i in a:
  print(i)

1
2
3
4
5
6
7

In [46]:
# While loop
a=1
while a<10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9

In [47]:
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9

In [48]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10